<form action='/users' method='post'>
  <input type="text" id="user[name]" name="user[name]">
  <input type="text" id="user[height]" name="user[height]">
  <input type="text" id="user[happiness]" name="user[happiness]">
  <input type="text" name="user[nausea]" id="user[nausea]">
  <input type="text" name="user[tickets]" id="user[tickets]">
  <input type="text" name="user[password]" id="user[password]">
  <input type="checkbox" id="user_admin" name="user[admin]">
  <input type="submit" value="Create User">
<a class="navbar-brand" href="/users/new">Home</a>
</form>
